{% extends 'base.html' %}

{% block content %}
    <div style="border-radius: 1rem; margin: 2rem; text-align: center">
        <h1 style="font-family: 'lobster', cursive;">
            Hello World LIST!
        </h1>
        <form action ="/account/hello_world/" method = "post">
            {% csrf_token %}
            <div>
                <input type = "text" name = "hello_world_input">
            </div>
            <div>
                <input type = "submit" class = "btn btn-primary" value = "POST">
            </div>
            <!-- 부트스트랩 적용해서 css 안 만들고 간단하게 버튼 모양 적용-->
        </form>

        {% if hello_world_list %}
        <!--hello_world_list에는 객체 여러개 들어있음. for문으로 꺼내주기-->
            {% for hello_world in hello_world_list %}
            <h4>
                {{ hello_world.text }}
                <!--객체 내부에 들어있는 text를 꺼내서 씀.-->
            </h4>
            {% endfor %}


        {% endif %}
    </div>
{% endblock %}